{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if authors %}
                <ul>
                    {% for author in authors %}
                    <li><a href="{% url 'biblio:author_detail' author.id %}">{{ author.nom}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Author are no available.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}