{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                Listes des editions
            </div>
            <div class="col-12">
                {% if editions %}
                <ul class="list-group">
                    {% for edition in editions %}
                    <li class="list-group-item"><a href="{% url 'biblio:edition_detail' edition.id %}">{{ edition.nom}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Edition are no available.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}