{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if genres %}
                <ul class="list-group">
                    {% for genre in genres %}
                    <li class="list-group-item"><a href="{% url 'biblio:genre_detail' genre.id %}">{{ genre.nom}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Author are no available.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}